{# src/giftBundle/Resources/views/Default/form.html.twig #}
{% extends "giftBundle:Default:layout.html.twig" %}

{% block body %}
	<h2> Mes événements</h2>
	{% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
		{% for event in listEvents %}
					 <li>
					 	<a href="event/{{ event.token }}">{{ event.name }}</a> : le {{ event.startdate|date('Y-m-d')  }}
					</li>
				{% endfor %}

		<a class="btn btn-primary" href="new-event">Créer un événement</a>
	{% endif %}
{% endblock %}